div {
    width: 80%;
    height: 50px;
    margin: 1%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 300px;
    height: 200px;
}

a {
    display: block;
    width: 80%;
    height: 100px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background-color: grey;
}
