.redborder {
    border: 2px solid red;
}

.greenborder {
    border: 2px solid green;
    outline: none;
}

.greentext {
    color: green;
}

.redtext {
    color: red;
}

input.task2 {
    display: block;
}

.button {
    width: 15px;
    height: 15px;
    font-size: 10px;
    padding: 0px;
    margin: 5px;
    color: red;
    border: 1px solid red;
}
